{% extends 'base.html.twig' %}

{% block title %}MyGive{% endblock %}

{% block body %}

{% if app.user and app.user.isVerified %}

    <h1 class="mt-4 text-center">Autour de moi</h1>
    <div class="navigation pagination pagination-sm d-flex justify-content-center">
        {{ knp_pagination_render(pagination) }}
    </div>
    <div class="col-12 text-center mb-2">
        <a class="btn btn-primary mt-1 mb-1 btn-home" href="{{ path('app_my_book_ad_new') }}">Je donne</a>
    </div>
    <div class="container w-100 d-flex flex-row flex-wrap justify-content-center">
        {% for result in pagination %}
            {% embed "./_parts/book_ad_card.html.twig" with { bookAd: result[0] } %}
                {% block actions %}
                    {{ parent() }}
                    {% if is_granted('ROLE_USER') and app.user.id != bookAd.user.id %}
                        <a href="{{ path('app_book_ad_show', { slug: bookAd.slug }) }}" class="btn btn-primary btn-take">Je prends</a>
                        
                        {% if result.distance | number_format <= 1 %}
                            <span class="distance mx-4"><i class="fa-solid fa-location-dot"></i> Moins de 1 km</span>
                            {% else %}
                            <span class="distance mx-4"><i class="fa-solid fa-location-dot"></i> {{ result.distance | number_format }} km</span>
                        {% endif %}
                    {% endif %}
                {% endblock %}
            {% endembed %}    
        {% endfor %}
    </div>

{% else %}

    <div class="container w-100 d-flex flex-row flex-wrap justify-content-center">

        <h5 class="mt-4">Un email de validation vous a été envoyé sur {{ app.user.email }}.</h5>

    </div>

{% endif %}

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        const eventSource = new EventSource("{{ mercure('https://giveyourboox.com/message')|escape('js') }}");
        eventSource.onmessage = event => {
            // Will be called every time an update is published by the server
            console.log(JSON.parse(event.data));
        }
    </script>
{% endblock %}