{% block head %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark d-flex justify-content-between px-4">
    <a class="navbar-brand" href="{{ path('app_home') }}">Give Your Books</a>
    <div class="d-flex justify-content-end">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {% if app.user %}
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Bienvenue {{ app.user }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_logout')}}">Déconnexion</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_book_ad_mine')}}">Mes dons</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_login')}}">Connexion</a>
                    </li>
                {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_book_ad_new')}}">Donner un livre</a>
                    </li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}