{% extends 'base.html.twig' %}

{% block title %}Annonce{% endblock %}

{% block body %}
<div class="container w-75 d-flex flex-column align-items-center">
    <div class="card card-detail text-center mt-4">
        <h1 class="mt-4">{{ bookAd.title|capitalize }}</h1>
        <h6 class="mx-4">{{ bookAd.description }}</h6>
        <p class="text-detail">Donné par {{ bookAd.user.pseudo|capitalize }} à {{ bookAd.user.city|capitalize }}</p>
        <div>
            <a href="#" class="btn btn-primary">Envoyer un message à {{ bookAd.user.pseudo|capitalize }}</a>
        </div>
        <img src="{{ asset('images/' ~ bookAd.imagePath) }}" alt="{{ bookAd.imagePath }}">
    </div>
</div>
{% endblock %}
