{% extends 'base.html.twig' %}

{% block title %}BookAd index{% endblock %}

{% block body %}
    <h1>BookAd index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Place</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for book_ad in book_ads %}
            <tr>
                <td>{{ book_ad.id }}</td>
                <td>{{ book_ad.title }}</td>
                <td>{{ book_ad.description }}</td>
                <td>{{ book_ad.place }}</td>
                <td>
                    <a href="{{ path('app_book_ad_show', {'id': book_ad.id}) }}">show</a>
                    <a href="{{ path('app_book_ad_edit', {'id': book_ad.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_book_ad_new') }}">Create new</a>
{% endblock %}
