{% extends 'base.html.twig' %}

{% block title %}Mon espace{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="container w-75 d-flex flex-row flex-wrap">
    {% for bookAd in bookAds %}
        <div class="card mt-4 mx-4 card-width">
            <img class="card-img-top card-background-image" src="{{ asset('images/' ~ bookAd.imagePath) | imagine_filter('list_thumbnail') }}" alt="Card image cap">
            <div class="card-body">
                <div class="title-category-box d-flex justify-content-between">
                    <h5 class="card-title">{{ bookAd.title}}</h5>
                    <p class="card-text small-text px-2">{{ bookAd.category }}</p>
                </div>
                <p class="card-text">{{ bookAd.description }}</p>
                <p class="card-text"><small>Publié par {{ bookAd.user.Pseudo|capitalize }} à {{ bookAd.place|capitalize }} le {{ bookAd.createdAt|date("m/d/Y") }}</small></p>
                <a href="#" class="btn btn-primary">Je prends</a>

                {% if app.user.id == bookAd.user.Id %}
                    <p>supprimer</p>
                {% endif %}
                
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}