{% extends 'base.html.twig' %}

{% block title %}BookAd{% endblock %}

{% block body %}
    <h1>BookAd</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ book_ad.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ book_ad.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ book_ad.description }}</td>
            </tr>
            <tr>
                <th>Place</th>
                <td>{{ book_ad.place }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_book_ad_index') }}">back to list</a>

    <a href="{{ path('app_book_ad_edit', {'id': book_ad.id}) }}">edit</a>

    {{ include('book_ad/_delete_form.html.twig') }}
{% endblock %}
