{% extends 'base.html.twig' %}

{% block capitalize %}Hello ConversationController!{% endblock %}

{% block body %}
<div class="navigation pagination pagination-sm d-flex justify-content-center">
    {{ knp_pagination_render(pagination) }}
</div>
<div class="container w-75">
        <h3 class="mt-4">Conversation avec 
            {% for user in conversation.user %}
                {% if user != app.user %}
                    {{ user.pseudo|capitalize }}
                {% endif %}
            {% endfor %}
        </h3>
        <h6>{{ conversation.bookAd|capitalize }}</h6>
        <img src="{{ asset('images/' ~ conversation.bookAd.imagePath) }}" alt="{{ conversation.bookAd.imagePath }}" >
        <hr>
        {{ form_start(form) }}
            <div class="d-flex  justify-content-center">
                {{ form_widget(form)}}
                <button class="btn btn-primary">{{ button_label|default('Envoyer') }}</button>
            </div>
        {{ form_end(form) }}
        <hr>
        {% for message in pagination %}
                {% if message.user != app.user %}
                    <div class="d-flex">
                        <div class="card text-right col-6 p-2 m-1 message-left">{{ message.content}}</div>
                    </div>
                {% else %}
                    <div class="d-flex flex-row-reverse">
                        <div class="card text-left bg-secondary col-6 p-2 m-1 message-right text-white">{{ message.content}}</div>
                    </div>
                {% endif %}
        {% endfor %}
</div>
{% endblock %}
