{% extends 'base.html.twig' %}

{% block capitalize %}Hello ConversationController!{% endblock %}

{% block body %}
<div class="navigation pagination pagination-sm d-flex justify-content-center">
    {{ knp_pagination_render(pagination) }}
</div>
<div class="container w-75">
        <h3 class="mt-4">Conversation avec 
            {% for user in conversation.user %}
                {% if user != app.user %}
                    {{ user.pseudo|capitalize }}
                {% endif %}
            {% endfor %}
        </h3>
        <div class="d-flex">
            <h6>{{ conversation.bookAd|capitalize }}</h6>
            <img src="{{ asset('images/' ~ conversation.bookAd.imagePath)  | imagine_filter('miniphotos') }}" alt="{{ conversation.bookAd.imagePath }}" >
        </div>
        {{ form_start(form) }}
            <div class="bg-light my-2 d-flex p-3 justify-content-center send-message-box">
                <div class="form-message">{{ form_widget(form)}}</div>
                <button class="btn btn-primary btn-send-message">{{ button_label|default('Envoyer') }}</button>
            </div>
        {{ form_end(form) }}
        {% for message in pagination %}
                {% if message.user != app.user %}
                    <div class="d-flex">
                        <div class="col-6">
                            <div class="card text-right p-2 m-1 message-left">{{ message.content}}</div>
                            <p class="px-3 text-detail">{{ message.createdAt|format_datetime('short', 'short', locale='fr') }}</p>
                        </div>
                    </div>
                {% else %}
                    <div class="d-flex flex-row-reverse">
                        <div class="col-6">
                            <div class="card text-left bg-secondary p-2 m-1 message-right text-white">{{ message.content}}</div>
                            <p class="px-3 text-detail">{{ message.createdAt|format_datetime('short', 'short', locale='fr') }}</p>
                        </div>
                    </div>
                {% endif %}
        {% endfor %}
</div>
{% endblock %}
